body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  display: inline;
  box-sizing: border-box;
  padding-bottom: 30px;
  min-height: 100%;
}

/* navigation bar */

.topnav {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  height: 60px;
  margin: 0;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.topnav li {
  text-align: center;
  display: inline;
  border-left: 1px solid #bbb;
}

.topnav li:first-child {
  border-left: none;
}


.topnav a {
  display: inline-block;
  padding: 18px 14px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-family: arial;
  color: #f2f2f2
}

/* hero image */

.ttl {
  font-size: 40px;
}

.hero-image {
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#a {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(about.jpg);
}

#c {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(contact.jpg);
}

#g {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(gallery.jpg);
}

#h {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(hiking.jpg);
}

#i {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(home.jpg);
}

#t {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(test.jpg);
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: sans-serif;
}

/* footer styling */


.footer {
  position: sticky;
  background-color: #333;
  overflow: hidden;
  width: 100%;
  margin: 0;
}

#contact-foot {
  position: fixed;
  bottom: 0;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer li {
  display: inline-block;
  padding: 24px 14px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-family: arial;
  color: #f2f2f2;
}

#socmed {
  height: 24px;
  filter: brightness(0) invert(1);
}

/* home styling */

.tour {
  font-family: arial;
}

.sections {
  margin-top: 4%;
  margin-bottom: 7%;
  display: flex;
}


.button {
  position: absolute;
  right: 3%;
  background-color: #333;
  border: none;
  color: white;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
  width: 90px;
  border-radius: 4px;
}

.button:hover {
  background-color: grey;
  border: 2px solid #333;
}

.button h2 {
}

.button a {
  color: white;
  text-decoration: none;
}

.tour p {
  text-align: left;
  margin-left: 5%;
  margin-right: 15%;
  font-size: 13px;
}
/* gallery styling */

.gallery {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  column-gap: 30px;
  row-gap: 30px;
  margin: 10%;
  margin-top: 4%;
  margin-bottom: 5%;

}

.gal-item img {
  width: 265px;
  height: 265px;
}

.wld-life {
  margin-left: 10%;
  margin-right: 10%;
  font-family: sans-serif;
  text-align: center;
}

.wld-life p {
  text-align: center;
  font-size: 14px;
}

/* about and hiking specific styling */


.par-par  {
  display: inline;
  font-family: sans-serif;
  text-align: center;
}

.pp-txt {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 5%;
}

.pp-txt p {
  text-align: left;
  margin: 0px;
  margin-bottom: 4%;
}

.par-img {
  font-family: arial;
  text-align: center;
  margin-bottom: 5%;
  margin: 0;
}

.pi {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 40px;
  grid-template-areas:
  "a b"
  "a b";
}

.pi p {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 5%;
  font-size: 1rem;
}

.pi img {
  grid-area: b;
  max-width: 90%;
}

.img-par {
  font-family: arial;
  text-align: center;
  margin-bottom: 5%;
}

.ip {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  grid-column-gap: 30px;
  grid-template-areas:
  "a b"
  "a b";
  margin: 10%;
  margin-top: 2%;
}

.ip p {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 5%;
}

.ip img {
  grid-area: a;
  width: 80%;
}

.summary {
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 2%;
}

.summary p {
  text-align: left;
  margin: 10%;
  margin-top: 2%;
  font-size: 1rem;
  margin-bottom: 0%;
}

@media (min-resolution: 250dpi) {
  .pp-txt  {
      display: block;
      margin-left: 10%;
      margin-right: 10%;
    }
  .pi {
      display: block;
      margin-left: 10%;
      margin-right: 10%;
    }

  .ip {
      display: block;
      margin-left: 10%;
      margin-right: 10%;
    }
  .pi img {
    width: 100%;
  }
}

/* Reviews styling */

.grid-container {
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 50px;
  margin: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.review {
  font-family: arial;
  font-size: 14px;
  color: grey;
}

.rvw-txt {
  font-weight: bold;
  font-size: 18px;
  color: black;
}

#rev-intro {
  margin-top: 2%;
  text-align: center;
  font-size: 16px;
  font-family: arial;
}

/* contact */

.contact-content {
  text-align: center;
  font-family: arial;
}

.contact-content p {
  font-size: 18px;
  margin: 10%;
  margin-bottom: 2%;
  margin-top: 3%;
}

.contact-content a {
  text-decoration: none;
}

#cntc-button {
  padding: 10px 12px;
  margin:0;
}
