.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topnav li {
  float: left;
}


.topnav a {
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-family: arial;
  color: #f2f2f2
}

h1.ttl{
  text-align: center;
  font-family: sans-serif;
}
