ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333

}

li {
  float: left;
}

a {
  display: block;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;


}

h1.ttl{
  text-align: center;
}
p.aa {
  font-size: 16px;
  font-family: arial;
}
